# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment
.env
*.env

# VSCode
.vscode/
*.code-workspace

# OS Files
.DS_Store
Thumbs.db

# Logs and outputs
*.log
*.bak
*.tmp
*.swp

# Compiled files or installers
*.exe
*.msi
*.zip

# Terraform
*.tfstate
*.tfstate.*
.terraform/

# Ansible cache
*.retry
*.log
*.facts

# Credentials
aws.yml
terraform_output.json

# Ignore sensitive Terraform outputs
terraform/terraform_outputs.json
